body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#displayBooks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: center;
    width: 60vw;
    height: 40vw;
    flex-direction: row;
    border: solid red;
    gap: 10px;
    padding: 10px;
}

#displayBooks div {
    display: flex;
    word-break: break-word;
    align-items: center;
    justify-items: center;
    padding: 10px;
    text-wrap: wrap;
    border: solid;
    width: 30%;
    height: 20%;
}

